<svg
  xmlns="http://www.w3.org/2000/svg"
  width="600"
  height="{{getHeight data.items}}"
  viewBox="0 0 600 {{getHeight data.items}}"
  fill="none"
>
  <style>
    {{#if (isDarkMode theme)}}
      :root { --background: #212121; --text-colour: #ffffff; --hr: #464548;
      --logo-colour: #ffffff; }
    {{else}}
      :root { --background: #ffffff; --text-colour: #505958; --hr: #ddd;
      --logo-colour: #333;}
    {{/if}}
  </style>
  {{> style }}
  <rect class="bg" width="100%" height="100%" rx="5"></rect>
  <g id="header">
    <a href="https://bandcamp.com" target="_blank">
      {{> bandcamp }}
    </a>
    <text class="text logo-acc">recently added</text>
    <a
      class="link text"
      href="https://bandcamp.com/{{data.profileName}}"
      target="_blank"
    >
      <text class="profile">{{data.profileName}}</text>
    </a>
    <rect class="hr" x="10" width="580" y="49" height="1">
    </rect>
  </g>
  {{#if timeout}}
    <g id="timeout">
      <text class="text err-title">This request has timed out.</text>
      <text class="text err-body">Please refresh the page to try again or
        <a
          href="https://bandcamp.com/{{username}}"
          target="_blank"
          class="link err-link"
        >
          click here</a>
        to view directly.</text>
    </g>
  {{else}}
    <g id="history">
      {{#each data.items}}
        <g class="item" style="transform:translate(0, {{offset @index}}px);">
          <image
            class="artwork"
            href="data:image/png;base64, {{this.albumArt}}"
            height="40"
            width="40"
          />
          <a class="link text" href="{{this.albumLink}}" target="_blank">
            <text class="title">{{truncate this.title}}</text>
            <text class="artist">{{this.artist}}</text>
          </a>
          {{#if this.favFeatTrack}}
            <g class="fav-feat">
              <text class="fav-feat-title text">
                {{#if this.isCollection}}favourite{{else}}featured{{/if}}
                track
              </text>
              <a
                class="link text"
                href="{{this.favFeatTrackLink}}"
                target="_blank"
              >
                <text class="fav-feat-track">{{this.favFeatTrack}}</text>
              </a>
            </g>
          {{/if}}
          <g class="icon">
            {{#if this.isCollection}}
              {{> heart }}
            {{else}}
              {{> bag }}
            {{/if}}
          </g>
          <rect class="hr" x="10" width="580" y="60" height="1">
          </rect>
        </g>
      {{/each}}
    </g>
  {{/if}}
</svg>